<app-header [showNav]="true"></app-header>
<main>
  <app-arrow-back></app-arrow-back>
  <div class="article-details-container">
    <div class="back-arrow-and-title">
      <h2 class="article-details-title">{{ article?.title }}</h2>
    </div>
    <div class="date-author-theme">
      <p>{{ article?.date }}</p>
      <p>{{ article?.author }}</p>
      <p>{{ article?.theme }}</p>
    </div>
    <p>{{ article?.content }}</p>

    <div class="horizontal-line"></div>

    <p>Commentaires</p>
    <div *ngFor="let comment of comments" class="article-details-commentary">

      <p class="article-details-username">{{ comment.username }}</p>
      <div class="contents-of-comments">{{ comment.content }}</div>
    </div>

    <div class="write-send-comments">
      <div class="article-details-textarea">
        <div class="textarea-container">
          <textarea
            [(ngModel)]="userInput"
            rows="4"
            cols="50"
            placeholder="Écrivez ici votre commentaire"
          ></textarea>
        </div>
      </div>
      <img
        src="/assets/icon-send.svg"
        alt="Envoyer"
        class="sending-arrow"
        (click)="submitArticleComment()"

      />
    </div>
  </div>
</main>
