<div>
  <!-- Back Arrow and Title -->
  <div class="flex items-center space-x-2">
    <app-back-arrow></app-back-arrow>
    <h1 class="text-2xl font-bold">{{ article?.title }}</h1>
  </div>

  <!-- Date, Author, and Theme -->
  <div class="flex space-x-7 ml-[115px]">
    <span>{{ article?.createdAt }}</span>
    <span>{{ article?.authorUsername }}</span>
    <span>{{ article?.topic }}</span>
  </div>

  <!-- Content -->
  <div class="ml-[115px] mt-5">
    <p>{{ article?.content }}</p>
  </div>

  <!-- Separator -->
  <hr class="my-4">

  <!-- Comments Section -->
  <div class="ml-[115px]">
    <h2 class="text-xl font-semibold mb-2">Commentaires</h2>
    
    <!-- Comment List Component -->
    <app-comment-list *ngIf="articleId" [articleId]="articleId"></app-comment-list>


    
    <!-- Input for new comment -->
    <div class="flex items-center mt-4 gap-4">
      <input
        [(ngModel)]="newComment"
        type="text"
        class="border border-black p-4 w-[570px] h-[120px] rounded-lg"
        placeholder="Écrire un commentaire..."
      />
      <button (click)="submitComment()" class="ml-4">
        <img src="/assets/🦆 icon _send_.png" alt="Envoyer" />
      </button>
    </div>
  </div>
</div>
