<main class="relative">
  <app-back-arrow></app-back-arrow>
  <div class="flex flex-col items-center justify-center p-8 bg-white mx-auto">
    <div class="m-9 md:hidden"></div>
    <h2 class="text-2xl font-bold mb-4">{{ article?.title }}</h2>
</div>




  <!-- Date, auteur et thême -->
  <div class="flex space-x-7 ml-[115px]">
    <span>{{ article?.createdAt }}</span>
    <span>{{ article?.authorUsername }}</span>
    <span>{{ article?.topic }}</span>
  </div>

  <!-- Content -->
  <div class="ml-[115px] mt-5">
    <p>{{ article?.content }}</p>
  </div>

  <!-- Separateur -->
  <hr class="my-4">

  <!-- Sections des commentaires -->
  <div class="ml-[115px]">
    <h2 class="text-xl font-semibold mb-2">Commentaires</h2>
    
    <!-- Liste des commentaires -->
    <app-comment-list *ngIf="articleId" [articleId]="articleId"></app-comment-list>


    
    <!-- Commentaires à écrire -->
    <div class="flex justify-center items-center mt-4 gap-4">
      <input
        [(ngModel)]="newComment"
        type="text"
        class="border border-black p-4 w-[570px] h-[120px] rounded-lg"
        placeholder="Écrire un commentaire..."
      />
      <button (click)="submitComment()" class="ml-4">
        <img src="/assets/🦆 icon _send_.png" alt="Envoyer" />
      </button>
    </div>
  </div>
</main>
