.general-input-container {
    display: flex;
    flex-direction: column;
    width: 281px;
    justify-content: center;
    margin: auto;
    gap: 20px;
  
    label {
      margin-bottom: 5px;
    }
  
    input {
        height: 48px;
        border: 2px solid var(--primary-color);
        border-radius: 8px;
        background-color: white;
    }
  }
  
