<app-header [showNav]="true"></app-header>
<main class="articlesContainer">
  <div class="articlesTopPage">
    <app-button buttonText="Créer un article" buttonType="primary" (click)="goToNewArticle()" ></app-button>
  <div class="articles-sort-by" (click)="sort()"> <p>Trier par</p>
<img src="/assets/arrow-down.svg" alt="arrow-down" class="arrow-down">
  </div> 
  </div>
  <div class="articlesCardsContainer">
    <app-article-card *ngFor="let article of articles"
    [title]="article.title"
    [date]="article.date"
    [author]="article.author"
    [content]="article.content">
  </app-article-card>
</div>
</main>
