<main class="relative">
  <app-back-arrow></app-back-arrow>
  <div class="p-8 max-w-sm mx-auto">
    <div *ngIf="isSmallScreen" class="flex items-center justify-center mb-4">
      <app-logo class="mt-14"></app-logo>
    </div>
    <h1 class="text-2xl text-center font-bold mb-7">Se connecter</h1>
    <form class="my-7" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label
          for="identifier"
          class="text-left text-[16px] font-normal leading-[19.36px] font-inter"
          >E-mail ou nom d’utilisateur</label
        >
        <input
          id="identifier"
          type="text"
          [(ngModel)]="identifier"
          name="identifier"
          autocomplete="username"
          placeholder="Email ou Nom d'utilisateur"
          class="p-2 w-full border border-black rounded"
          required
        />
      </div>
      <div class="mb-7">
        <label
          for="password"
          class="text-left text-[16px] font-normal leading-[19.36px] font-inter"
          >Mot de passe</label
        >
        <input
          type="password"
          id="password"
          placeholder="Entre votre mot de passe "
          [(ngModel)]="password"
          name="password"
          autocomplete="current-password"
          class="p-2 w-full border-black border rounded"
          required
        />
      </div>
      <app-button text="Se connecter"></app-button>
    </form>
  </div>
</main>
