<app-header [showNav]="true"></app-header>
<main>
<div class="new-article-container">
  <app-arrow-back class="new-article-back-arrow"></app-arrow-back>
  <h2 class="new-article-title">Créer un nouvel article</h2>
  <div class="triple-input">
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Premier Input"
          value="Sélectionner un thème"
          class="new-article-input"
        />
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Premier Input"
          value="Titre de l’article"
          class="new-article-input"
        />
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Premier Input"
          value="Contenu de l’article"
          class="new-article-input content"
        />
      </mat-form-field>
    </form>
  </div>
<div class="new-article-create-button">
  <app-button buttonText="Créer" buttonType="primary" ></app-button>
</div>
</div>
</main>