header {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    img {
      cursor: pointer;
    }
  
    nav a {
      font-size: 1rem;
      font-weight: 500;
      color: #4a4a4a;
  
      &:hover {
        color: #2d3748;
      }
    }
  
    .user-icon {
      width: 32px;
      height: 32px;
    }
  }

  .text-customPurple-important {
    color: #7763C5 !important; 
  }
  
 
  .border-customPurple-important {
    border: 2px solid #7763C5 !important; 
    border-radius: 50%; 
  }